{% if flashMessage().hasSuccess %}
    <div class="alert alert-success" role="alert">
        <ul style="list-style: none">
            {% for message in flashMessage().getSuccess %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if flashMessage().hasError %}
    <div class="alert alert-warning" role="alert">
        <ul style="list-style: none">
            {% for message in flashMessage().getError %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}